{
	"root": true,

	"extends": "airbnb-base/legacy",

	"rules": {
		"dot-notation": [2, { "allowKeywords": false }],
		"func-names": 0,
		"indent": [2, "tab"],
		"no-tabs": 0,
		"vars-on-top": 0,
	}
}
